/* comment */
body {
  background-color: white;
  font-family:  'Lato', sans-serif;;
  margin: 0;
}
#myTopnav {
  position: fixed;
}
#redload {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 120px;
  margin-bottom: 50px;
}
h2 {
  text-indent: 10px;
}
/* comment */
.a{
  grid-column: 5/6;
}
.b {
  grid-column: 6/7;
}
.c {
  grid-column: 7/8;
}
.d {
  grid-column: 8/9;
}
.e {
  grid-column: 9/10;
  margin-left: 10px;
}
/* comment */
#searchbar {
  height: 30px;
  max-width: 160px;
  margin-top: 15px;
  float: right;

}
/* comment */
#searchbutt {
  float: right;
  height: 30px;
  width: 30px;
  grid-gap: 0;
  margin-top: 15px;
  background-image: url(images/search.png);
  background-position: center;
  background-size: cover;
}

/* comment */
#headerone {
  text-align: center;
}
/* comment */
.arrow {
  color: black;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}
/* comment */
#background {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0;
}
/* comment */
#left {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 100px;
}
/* comment */
#right {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: 100px;
}
/* comment */
#name {
  width: 222px;;
  height: 35px;;
  margin: 10px;
}
/* comment */
#email {
  width: 222px;;
  height: 35px;;
  margin: 10px;
}
#contact {
  width: 222px;;
  height: 35px;;
  margin: 10px;
}
/* comment */
.msgbox {
  width: 725px;;
  height: 200px;
  margin: 10px;
}

/* comment */
#validate {
  margin: 10px;
  background-color: #e38f84;
  width: 100px;
  height: 40px;
  font-size: 15px;
  color: white;
  font-style: bold;
  border-radius: 5%;
  transition: 1s;
}
/* comment */
#validate:hover {
  max-width:150px;
}
.conlogos {
  height: 20px;
  max-width: 20px;
  margin-right: 5px;
}
/* comment */
#map {
width: 100%;
height: 500px;
}
/* comment */
#lowerinfo{
  background-color: #f1f1f1;
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(1,1fr);
color: grey;
}
/* comment */
#mailnum {
margin-left: 30px;
grid-column: 1/2;
}

/* comment */
#company {
grid-column: 3/4;
}
/* comment */
#helpsupport {
grid-column: 4/5;
}
.coninfo:hover {
  color: #e38f84;
}
/* comment */
#instagram {
grid-column: 5/6;
}
/* comment */
#cmpny {
margin-left: 20px;
}
/* comment */
#greyblock {
background-color: grey;
height: 50px;
max-width: 50px;
}
/* comment */
#bottomnav {
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(1,1fr);
max-width: 100%;
height: 60px;
background-color: #e38f84;
color: white;
}
/* comment */
#copyright {
margin-top: 20px;
}
/* comment */
.botlogo {
margin-top: 20px;
max-width: 30px;
height: 30px;
}
/* comment */
#squares {
max-width: 200px;
height: 100px;
}
/* comment */
#midpage {
background-color: #DCDCDC;
width: 100%;
height: 400px;
}
/* comment */
#space {
height: 100px;
}
/* comment */
#followus {
grid-column: 4/5;
}
/* comment */
#midhome {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-image: url(c4ctback.jpg);
  max-width: 100%;
  height: 700px;
  background-size: cover;
}
/* comment */
#fadebox {
  grid-column: 2/5;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  max-width: 100%;
  text-align: center;
  margin-top: 250px;
}
/* comment */
#fadehead {
  color: white;
  font-size: 40px;
}
/* comment */
#fadeinfo {
  color: white;
  font-size: 18px;
}
/* comment */
#subbutt {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 45px;
  max-width: 150px;
  transition: 1s;
}
/* comment */
#subbutt:hover {
  max-width: 225px;
}
/* comment */
#whoweare {
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 10px;
  grid-column-gap: 0;
}
/* comment */
#whoimg1 {
  height: 230px;
  width: 95%;
  grid-row: 1/2;
  grid-column: 4/5;
}
/* comment */
#whoimg2 {
  height: 230px;
  width: 95%;
  grid-row: 1/2;
  grid-column: 3/4;
}
/* comment */
#whoimg3 {
  height: 230px;
  width: 95%;
  grid-row: 2/3;
  grid-column: 3/4;
}
/* comment */
#whoimg4 {
  height: 230px;
  width: 95%;
  grid-row: 2/3;
  grid-column: 4/5;
}
/* comment */
#whopara {
  grid-row: 1/3;
  grid-column: 1/3;
}
/* comment */
#blackbar {
  height: 400px;
  max-max-width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  padding-left: 100px;
  padding-right: 100px;
}
/* comment */
#bb1 {
  margin-top: 20px;
  grid-row: 1;
  grid-column: 1/2;
  color: white;
  text-align: center;
}
/* comment */
#bb2 {
  margin-top: 20px;
  grid-row: 1;
  grid-column: 2/3;
  color: white;
  text-align: center;
}
/* comment */
#bb3 {
  margin-top: 20px;
  grid-row: 1;
  grid-column: 3/4;
  color: white;
  text-align: center;
}

/* comment */
#bbimg {
  height: 100px;
  max-width: 100px;
}
/* comment */
#fiveimgs {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
}
/* comment */
#aport {
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 100px;
}
/* comment */
#gallery5 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 10px;
  margin-left: 150px;
  margin-right: 20px;
}
/* comment */
#gall1 {
  width: 100%;
  height: 220px;
  grid-row: 1/2;
  grid-column: 1/2;
}
/* comment */
#gall2 {
  width: 100%;
  height: 220px;
  grid-row: 1/2;
  grid-column: 2/3;
}
/* comment */
#gall3 {
  width: 100%;
  height: 220px;
  grid-row: 2/3;
  grid-column: 1/2;
}
/* comment */
#gall4 {
  width: 100%;
  height: 220px;
  grid-row: 2/3;
  grid-column: 2/3;
}
/* comment */
#gall5 {
  width: 80%;
  height: 100%;
  grid-row: 1/3;
  grid-column: 3/5;
}
/* comment */
#teammeat {
  margin-left: 150px;
  margin-bottom: 100px;
}
/* comment */
#meatall {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-left: 150px;
  margin-bottom: 200px;
}
/* comment */
#smith {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 220px;
  max-width: 100%;
}
/* comment */
#smithinfo {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 220px;
  max-width: 100%;
}
/* comment */
#doe {
  grid-column: 3/4;
  grid-row: 1/2;
  height: 220px;
  max-width: 100%;
}
/* comment */
#doeinfo {
  grid-column: 4/5;
  grid-row: 1/2;
  height: 220px;
  max-width: 100%;
}
/* comment */
#adam {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 220px;
  max-width: 100%;
  margin-top: 100px;
}
/* comment */
#adaminfo {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 220px;
  max-width: 100%;
  margin-top: 100px;
}
/* comment */
#jan {
  grid-column: 3/4;
  grid-row: 2/3;
  height: 220px;
  max-width: 100%;
  margin-top: 100px;
}
/* comment */
#janinfo {
  grid-column: 4/5;
  grid-row: 2/3;
  height: 220px;
  max-width: 100%;
  margin-top: 100px;
}
/* comment */
#teampic {
  height: 300px;
  width: 70%;
  margin-top: 0;
}
/* comment */
c {
  background: rgba(0,0,0,0.8);
  max-width: 100%;
  height: 140px;
  color: white;
  margin-bottom: 100px;
  z-index: -1;
}
/* comment */
#client {
  text-align:center;
  margin-top: 80px;

}
/* comment */
#subscribe {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* comment */
#donbutt {
  transition: 1s;
  height: 50px;
  max-width: 100px;
  background-color: #e38f84;
  color: white;
}
/* comment */
#donbutt:hover {
  max-width: 150px;
}
/* comment */
#submail {
  height: 40px;
  max-width: 400px;
}
/* comment */
#sponsors {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  background-color: black;
  background-size: cover;
  max-width: 100%;
  height: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* comment */
#sponsimg {
  height: 100px;
  max-width: 180px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* comment */
#map {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 100%;
}
/* comment */
#compwel {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 20px;
}
/* comment */
#aboutinfo {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 150px;
}
/* comment */
#abimg {
  grid-row: 1/2;
  grid-column: 2/3;
  max-width: 100%;
  height: 100%;
  margin-right: 50px;
}
/* comment */
#aboutbutt {
  font-size: 14px;
  color: white;
  max-width: 100px;
  height: 50px;
  background-color: #e38f84;
  transition: 1s;
}
/* comment */
#aboutbutt:hover {
  max-width: 150px;
}
/* comment */
#aboutwe {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
}
/* comment */
#about4 {
  margin-right: 100px;
  grid-row: 1;
  grid-column: 2/3;
}
/* comment */
#aboutgrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
}
/* comment */
#aboutimg {
  max-width: 100%;
  height: 500px;
  grid-row: 1/2;
  grid-column: 1/2;
}
#aboutgrid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
}
/* comment */
#vision {
  margin-left: 20px;
  grid-column: 1/3;
  grid-row: 1/2;
}
#mission {
  margin-left: 0;
  grid-column: 3/5;
  grid-row: 1/2;
}
#help {
  margin-left: 20px;
  grid-column: 1/3;
  grid-row: 2/3;
}
#support {
  margin-left: 0;
  grid-column: 3/5;
  grid-row: 2/3;
}

/* comment */
.ourred {
  color: #e38f84;
}
/* comment */
#portimgs {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 0;
}
/* comment */

/* comment */
.nums {
  max-width: ;
  height: ;
  color: black;
  background-color: white;
}
/* comment */
.nums:hover {
  color: white;
  background-color: #e38f84;
}
/* comment */
#servicespg {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-left: 100px;
  margin-right: 100px;
}
/* comment */
#awesomeon {
  margin-top: 100px;
  text-align: center;
  grid-gap: 20px;
  text-align: center;
}
/* comment */
#awesome {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 20px;
}
/* comment */
#awesometxt1{
  border-style: solid;
  border-color: #e38f84;
  text-align: center;
  grid-column: 1/2;
}
/* comment */
#awesometxt2{
  border-style: solid;
  border-color: #e38f84;
  text-align: center;
  grid-column: 2/3;
}
/* comment */
#awesometxt3{
  border-style: solid;
  border-color: #e38f84;
  text-align: center;
  grid-column: 3/4;
}
/* comment */
#wd {
  grid-row: 1/2;
  grid-column: 1/2;
}
#pt {
  grid-row: 1/2;
  grid-column: 2/3;
}#pg {
  grid-row: 1/2;
  grid-column: 3/4;
}#bc {
  grid-row: 2/3;
  grid-column: 1/2;
}#ca {
  grid-row: 2/3;
  grid-column: 2/3;
}
#sp {
  grid-row: 2/3;
  grid-column: 3/4;
}
#cc {
  grid-column: 1/2;
}
#sic {
  grid-column: 2/3;
}
#clsc {
  grid-column: 3/4;
}
/* comment */
.aweshead {
  color: #e38f84;
}
/* comment */

/* comment */
.bolt {
  color: grey;
}
.bolt:hover {
  color: #e38f84;
  cursor: pointer;
}
/* comment */

/* comment */
.showing{
opacity: 1;
z-index: 2;
}


/* comment */
.slidesbutt {
  height: 50px;
  width: 100px;
  background-color: #e38f84;
  transition: 1s;
}
/* comment */
.slidesbutt:hover {
  width: 150px;
}
/* comment */
.comphelp {
  color: grey;
}
/* comment */
.comphelp:hover {
  cursor: pointer;
  color: #e38f84;
}
/* comment */
.counter {
  font-size: 20px;
}
/* comment */
.slick-slide {
    margin: 0px 20px;
}
/* comment */
.slick-slide img {
    max-width: 100%;
}
/* comment */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
/* comment */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* comment */
.slick-list:focus {
  outline: none;
}
/* comment */
.slick-list.dragging  {
  cursor: pointer;
  cursor: hand;
}
/* comment */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* comment */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
/* comment */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
/* comment */
.slick-track:after {
  clear: both;
}
/* comment */
.slick-loading .slick-track {
  visibility: hidden;
}
/* comment */
.slick-slide {
  display: none;
  float: left;
  height: ;
  min-height: 1px;
}
/* comment */
[dir='rtl'] .slick-slide {
  float: right;
}
/* comment */
.slick-slide img {
  display: block;
}
/* comment */
.slick-slide.slick-loading img {
  display: none;
}
/* comment */
.slick-slide.dragging img {
  pointer-events: none;
}
/* comment */
.slick-initialized .slick-slide {
  display: block;
}
/* comment */
.slick-loading .slick-slidee {
  visibility: hidden;
}
/* comment */
.slick-vertical .slick-slidee {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/* comment */
.slick-arrow.slick-hidden {
  display: none;
}
/* comment */
.cara {
  height: 200px;
  max-width: 50px;
}
/* comment */
#bread {
  display: grid;
}
/* comment */
#pges {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 850px;
}
/* comment */
#portlio {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-right: 850px;
}
.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    opacity: 0.8;
}

.slide-info {
  font-size: 20px;
  border-style: none;
  max-width: 60%;
  height: 150px;
  margin-left: 270px;
  background-color: rgba(0,0,0,0.5);
}

#bars {
	margin: 2em auto;
	overflow: hidden;
  margin-left: 330px;
  color: white;
}

.bar {
	float: left;
	max-width: ;
	text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
#clients {
  background-color: black;
display: block;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap {
display: block;
max-width: 95%;
margin: 0 auto;
overflow: hidden;
}
#clients .clients-wrap ul {
display: block;
list-style: none;
position: relative;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap ul li {
display: block;
float: left;
position: relative;
max-width: 220px;
height: 100px;
line-height: 100px;
text-align: center;
}
#clients .clients-wrap ul li img {
vertical-align: middle;
max-max-width: 100%;
max-height: 100%;
-webkit-transition: 0 linear left;
-moz-transition: 0 linear left;
transition: 0 linear left;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
filter: alpha(opacity=65);
opacity: 0.65;
}
#clients .clients-wrap ul li img:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1.0;
}

.counter {
  color: white;
  max-width:100%;
  height:50px;
  vertical-align: middle;
  text-align: center;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 40px;

}
#container_countup {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(2,1fr);
  background-color: black;
    padding-left: 40px;
}

#overlay {
background: rgba(0, 0, 0, 0.8);
width: 100%;
height: 100%;
position: absolute;
top: 400px;
left: 0;
display: none;
text-align: center;
}

#overlay img {
position: relative;
top: 130px;
max-width: 500px;
height: 400px;
border: none;
display: none;
}

.gallery{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height:100%;
    padding-bottom: 150px;
    text-align: center;
}
#clients {
display: block;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap {
display: block;
width: 95%;
margin: 0 auto;
overflow: hidden;
}
#clients .clients-wrap ul {
display: block;
list-style: none;
position: relative;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap ul li {
display: block;
float: left;
position: relative;
width: 220px;
height: 100px;
line-height: 100px;
text-align: center;
}
#clients .clients-wrap ul li img {
vertical-align: middle;
max-width: 100%;
max-height: 100%;
-webkit-transition: 0 linear left;
-moz-transition: 0 linear left;
transition: 0 linear left;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
filter: alpha(opacity=65);
opacity: 0.65;
}
#clients .clients-wrap ul li img:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1.0;
}
.button {
padding: 10px;
border-radius: 5px;
display: inline-block;
background: #e38f84;
color: white;
font-size: 12px;
font-weight: bold;
}

.container {
max-width: 960px;
width: 100%;
margin: 0 auto;
}

.header {
overflow: hidden;
height: 65px;
}

.header a {
color: inherit;
}

.header a:hover {
font-weight: bold;
}

.header-logo {
float: left;
}

.header-nav {
float: right;
}
li {
color: white;
}
.header-nav ul li {
display: inline-block;
margin: 0 20px;
}

.products {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.product {
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 310px;
width: 100%;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
background: lightgrey;
}


.product span {
font-weight: bold;
}

.product-image img {
display: block;
max-width: 228px;
width: 100%;
margin: 0 auto;
}

.
.row .product:last-child {
margin-right: 0;
}

.product-add-to-cart {
overflow: hidden;
clear: both;
margin-top: 10px;
}

.see-more {
float: left;
background: lightgrey;
color: lightgrey;
}

.add-to-cart {
float: right;
}

.shopping-cart {
position: fixed;
top: 0;
right: 0;
width: 300px;
margin-right: 20px;
margin-top: 100px;
padding: 20px;
background:  rgba(0, 0, 0, 0.5);
}

.shopping-cart-head {
background: #e38f84;
color: white;
padding: 5px;
}

.shopping-cart,
.shopping-cart-head {
border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
display: none;

}

.empty-cart-btn {
margin-bottom: 5px;
}

.cart-checkout {
background: limegreen;
}
.scroll-arrow {
  height: 40px;
  width: 40px;
}

.counter_heading {
  color: white;
  font-size: 24px;
  grid-row: 2/3;
  margin-left: 40px;
}
.coffee {
  grid-column: 1/3;
}
.girls {
  grid-column: 3/5;
}
.projects {
  grid-column: 5/7;
}
.hoursof {
  grid-column: 7/9;
}
.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: black;
  position: fixed;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 1s;
}

.topnav a:hover {
  background-color: #e38f84;
  color: black;
}

.active {
  background-color: white;
  color: black;
}
#awesome {
  grid-gap: 5px;
  width: 88%;
}

.topnav .icon {
  display: none;
}
#navbar-logo {
  float: left;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	#searchbar {
	display:none;
}
	#searchbutt {
	display:none;
}
}

@media screen and (max-width: 600px) {
  img {
    width: 400px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
   .caption_text {
     display: none;
   }
  .shopping-cart {
    width: 100px;
  }
  #navbar-logo {
    display: none;
  }
#bars {
  display: none;
}
  #aboutgrid {
    display: none;
  }
  #aboutinfo {
    grid-row: 3/4;
    grid-column: 1/5;
    margin-left: 0;
    margin-right: 100px;
  }
  #vision {
    margin-left: 0;
    grid-column: 1/5;
    grid-row: 2/3;
  }
  /* comment */
  #mission {
    margin-left: 0;
    grid-column: 1/5;
    grid-row: 3/4;
  }
  /* comment */
  #help {
    margin-left: 0;
    grid-column: 1/5;
    grid-row: 4/5;
  }


  .gallery{
      display: grid;
      grid-template-rows: repeat(12,1fr);
      grid-template-columns: repeat(1,1fr);
      height:50%;
      width: 450px;
      text-align: center;
      left: 0;
      margin-left: 0;
  }

  #subscribe {
    margin-right: 150px;
  }

  .topnav {
    width: 100%;
  }
  .msgbox {
    width: 220px;
  }

  #abimg {
    height: 200px;
    grid-column: 1/4;
    width: 80%;
  }
  #aboutimg {
    height: 400px;
    grid-column: 1/4;
    width: 80%;
  }


  #teampic {
    width: 98%;
    height: 220px;
  }
  #adaminfo {
    margin-top: 80px;
  }
  #smithinfo {
    margin-top: 0;
  }
  #doeinfo {
    margin-top: 0;
  }
  #janinfo {
    margin-top: 80px;
  }
  #meatall {
    margin-left: 0;
    margin-bottom: 100px;
  }
  #gallery5 {
    margin-left: 20px;
    margin-right: 0;
    grid-gap: 0;
  }
  #teammeat {
    margin-left: 10px;
    margin-bottom: 0;
  }
  #aport {
    margin-top: 10px;
    margin-left:10px;
  }
  #blackbar {
    padding-left: 0;
    padding-right: 0;
  }
  #whoweare {
    margin-left: 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  #whopara {
    grid-row: 1/3;
    grid-column: 1/5;
    position: absolute;
    margin-bottom: 0;
  }
  #whoimg1 {
    width: 250px;
    margin-top: 300px;
  }
  #whoimg2 {
    width: 250px;
    margin-top: 300px;
  }
  #whoimg3 {
    width: 250px;
  }
  #whoimg4 {
    width: 250px;
  }
  #followus {
    display: none;
  }

  #headerone {
    text-align: left;
    margin-left: 90px;
  }
  .product-quantity {
    width: 200px;
  }
  #copyright {
    margin-top: 4px;
  }
  .product  {
    max-width: 505px;
  }

  #navbar-logo {
    width: 100px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .botlogo {
    display: none
  }
  #container_countup {
    padding-left: 0;
    padding-right: 10px;
  }

}

.first_Word{
         border-bottom: 4px solid indianred;
         padding-right: 5px;
 }
 /*adding borders for headings that spans second part of the heading*/
 .second_part{
          border-bottom: 2px solid lightgrey;
          padding-bottom: 1px;
 }
 .caption_text{
   background-color: rgba(0,0,0,.6);
   opacity: 10%;
   color: white;
   width:500px;
   text-align: center;
   top: 270px;
   margin-left: 440px;
   height: 300px;
   scroll-behavior: auto;
   position:absolute;
   clear: both;
   padding-right: 50px;
   padding-left: 50px;

 }
 .btn_right{
             float: left;
             background-color: rgba(0,0,0,.6);
             top: 240px;
   }
   .btn_left{
            float: right;
            background-color: rgba(0,0,0,.6);
            top: 240px;

          }
  #p1 {
    font-size: 20px;

  }
